.board {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 290px;
    word-wrap: break-word;
    background-color: var(--board-color);
    background-clip: border-box;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    height: 100%;
    max-height: 82vh;
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0.109);
    padding: 10px;
  }
  .board__cards {
    padding: 1rem;
    overflow-y: auto;
  }
  .board__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.5rem;
    margin-bottom: 0;
  }

  .board__top > div > p:hover {
    cursor: pointer;
  }
 
  .board__top > div > p {
    font-weight: bolder;
  }
  .total__cards {
    font-size: 15px;
    border-radius: 15px 15px 15px 15px;
    padding-inline: 0.6rem;
    border: 0.5px solid var(--card-box-shadow);
    background-color: rgb(255, 238, 0);
    margin-inline: 10px;
  }
  .title__input {
    font-weight: 400;
    height: 30px;
    border-radius: 5px;
  }
